.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__box {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: 1170px;
    width: 100%;
    height: 295px;
    border-radius: 34px;
    border: 1px;
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: 0px 22px 18px 0px #0000000D;
}

.subscribe__title {
    font-family: 'DM Sans';
    font-size: clamp(1.563rem, 1.229rem + 1.67vw, 2.625rem);
    font-weight: 700;
    color: #fff;
}

.subscribe__text {
    font-family: 'Roboto';
    font-size: clamp(0.875rem, 0.836rem + 0.2vw, 1rem);
    font-weight: 400;
    color: #fff;
}

.subscribe__form {
    margin-top: 20px;
    position: relative;
}

.subscribe__form-emain {
    padding: 25px 45px;
    width: 860px;
    height: 80px;
    border-radius: 70px;
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
    box-shadow: 10px 24px 54px 0px #00000012;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}


.subscribe__form-btn {
    position: absolute;
    max-width: 196px;
    width: 100%;
    height: 60px;
    border-radius: 70px;
    top: 10px;
    right: 15px;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    transition: 0.3s;
}

.subscribe__form-btn:hover{
    border: 1px solid  #D946EF ;
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:1350px) {
    .subscribe__box{
        width: 100%;
    }  
    .subscribe__title{
        text-align: center;
    }
    .subscribe__text {
        text-align: center;
    }
    .subscribe__form-btn{
        width: 100%;
    }
}
@media screen and (max-width:950px) {
    .subscribe__form-emain{
        width: 650px;
    } 
}
@media screen and (max-width: 710px) {
    .subscribe__form-emain{
        width: 500px;
    } 
}
@media screen and (max-width: 560px) {
    .subscribe__form-emain{
        width: 400px;
    } 
}
@media screen and (max-width: 400px) {
    .subscribe__form-emain{
        width: 250px;
    } 
    .subscribe__form-btn{
        max-width: 100px;
        font-size: 10px;
        top: 5px;
        right: 10px;
    }
}